<div name="popup-header" class="canvas-header">
    <div class="canvas-header-left"></div>

    <div name="title" class="canvas-handle"></div>

    <div name="canvas-header-right">
        <div name="minimize" onclick="this.minimize()">
         &#9601;
        </div>
        <div name="toggle" onclick="this.toggle()">
            <img width="9" height="9" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbD0iYmxhY2siIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMCIgZD0iTSAwIDYwCnY0MGg0MGwtMTYtMTZsMjItMjJsLTgtOGwtMjIgMjJaCm02MC02MGg0MHY0MGwtMTYtMTZsLTIyIDIybC04LThsMjItMjJaIi8+Cjwvc3ZnPgo="/>
        </div>
        <div name="close-button" onclick="this.close()">
            &#215;
        </div>
    </div>
</div>
