 html, body
{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.app-page
{
	display: grid;
	grid-auto-flow: column;
	height: calc(100vh - 80px);
	grid-template-columns: fit-content(30%);
}

.canvas-handle
{
	cursor: default;
	user-select: none;
	background-color: lightgray;
}

.app-header
{
	width: 100%;
	height: 40px;
	padding:0 10px;
	display: inline-grid;
	align-content: center;
	grid-auto-flow: column;
	border: 1px solid black;
	background-color: lightgray;
	grid-template-columns: 40px 1fr 50px;
}

.form-area
{
	position: relative;
	background-color: white;
}

.canvas
{
	background: white;
	border: 1px solid black;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}

.form
{
	display:flex;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.form-header
{
	width: 100%;
	height: 20px;
	display: inline-grid;
	grid-auto-flow: column;
	background-color: lightgray;
	border-bottom: 1px solid black;
	grid-template-columns: 40px 1fr 60px;
}

.form-header-middle
{
	display: flex;
	cursor: default;
	justify-content: center;
}

.form-header-right,
tr td span:hover
{
	cursor: default;
}

.block
{
	margin:5px;
	padding: 30px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}

.menu-left
{
	width:0px;
	height: 100%;
	transition: 0.5s;
	background-color: white;
	border-right: 1px solid black;
}

.left-menu-container
{
	display: block;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	background: transparent;
}

.left-menu-container .left-menu
{
	width:100%;
	padding:0px;
	display:table;
	margin-top:8px;
	font-size:17px;
	margin-top:0px;
	margin-left:0px;
	transition: 0.3s;
	list-style: none;
	transition: 0.3s;
}

.left-menu-container li[type="menu"]
{
	display:flex;
	display: block;
	font-weight: 400;
	margin-top: 15px;
	user-select: none;
}

.left-menu-container  li[type="menu"]:before
{
	color: black;
	content: '\25B6';
	margin-left:5px;
	margin-right: 5px;
	display:inline-block;
}

.left-menu-container  li[type="link"]
{
	padding:5px 3px;
	list-style: none;
}


.left-menu-container li[type="link"]:before
{
	color: black;
	content: '\25CF';
	margin-right: 5px;
	margin-left: 20px;
	display:inline-block;
}

.left-menu-container a:hover
{
	color: hwb(0 2% 98% / 0.582);
}

.left-menu-container li[type="menu"] li[type="menu"]
{
	margin-top: 8px;
	margin-left: 18px;
}

.menu-open:before
{
	transform: rotate(90deg);
}

.row-indicator
{
	width: 8px;
	height: 8px;
	display: block;
	border-radius: 50px;
	background-color: gray;
}

.filter-indicator
{
	width: 8px;
	height: 8px;
	display: block;
	background-color: grey;
}

.search
{
	margin: 2px 0px 5px 30px;
}

.search input
{
	margin-bottom: 10px !important;
}
.search:before
{
	content: "\002315";
	display:inline-block;
}

.table input
{
	display:inline;
	margin:2px 1px;
}

.heading
{
	margin-left:5px;
	font-weight: bold;
	margin-right:auto;
	display: table-cell;
	line-height: 1.42857143;
	padding: 4px 0px 0px 15px;
}

.cell
{
	margin-left:5px;
	font-weight: bold;
	margin-right:auto;
	display: table-cell;
	line-height: 1.42857143;
	padding: 4px 0px 0px 15px;
}

.heading label
{
	cursor: pointer;
}

.heading:hover
{
	transform: scale(1.05);
	box-shadow: 2px 2px 2px rgba(black, 0.2);
}

.heading:active
{
	transform: scale(1.02);
}

.indicator
{
	width:10px;
	align-items: center;
	justify-content: center;
}

.indicator span
{
	width:10px;
	height: 10px;
}

input:enabled,
input[enabled=enabled]
{
	border: none;
	font-size: 14px;
	font-weight: normal;
	margin:0px 7px 0px 10px;
	transition: all 0.18s ease;
	background-color: transparent;
	border-bottom: 2px solid black;
}

input:disabled,
input[disabled=disabled]
{
	border: none;
	font-size: 14px;
	font-weight: normal;
	margin:0px 7px 0px 10px;
	transition: all 0.18s ease;
	background-color: transparent;
	border-bottom: 2px solid black;
}

input.invalid,
textarea.invalid
{
	border-bottom: 2px solid red;
}

select
{
	border: none;
	background-color: transparent;
	border-bottom: 2px solid black;
}

.warning
{
	font-style: italic;
	color: lightcoral;
}

input.detail:read-only
{
	background: none;
}

input[mode="query"],
.lov input[name="search"]
{
	text-indent: 12px;
    background-size: 10px;
	transition: all 0.18s ease;
	background-repeat: no-repeat;
	background-position-y: center;
	background-image: url(images/icons8-search-30.png);
}

input[mode="insert"]
{
	text-indent: 12px;
	background-size: 10px;
	transition: all 0.18s ease;
	background-repeat: no-repeat;
	background-position-y: center;
	background-image: url(images/icons8-insert-30.png);
}

input[mode="insert"][date],
input[mode="query"][date]
{
	width:90px;
}

input[mode="deleted"]
{
	transition: all 0.18s ease;
	text-decoration: line-through;
}

.icon_calender
{
	width:15px;
	color: black;
	cursor: default;
	display:inline-block;
}

th
{
	cursor: default;
}

.icon_calender:active
{
	transform: scale(1.04);
}

p:focus-within span,
p:focus-within label
{
	font-weight: bold;
}

div[name='day'] span:focus
{
	font-weight: bold;
}

span[name^="day-"]:hover,
span[name^="day-"]:focus,
tr td:first-child
{
	font-weight: bold;
	user-select: none;
}

div[name="prev"]:active,
div[name="next"]:active
{
	color:white;
	user-select: none;
	transform: scale(1.2);
	background-color: gray;
}

div.modal
{
	backdrop-filter: blur(.5px);
}

.info
{
	width:20px;
	height: 20px;
	cursor: pointer;
	position: relative;
	display:inline-block;
   background-size: 20px;
	transition: all 0.18s ease;
	background-repeat: no-repeat;
	background-image: url(images/icons8-info-50.png);
}

.info .info-dropdown
{
	top: 42px;
	right: 0px;
	width:185px;
	display:none;
	z-index: 99999;
	position: fixed;
	font-size: 14px;
	list-style: none;
	background-color: white;
	box-shadow: 0 5px 30px rgb(0 0 0 / 20%);
} 

.info-dropdown .menu-items
{
	cursor: default;
	padding: 10px 5px;
}

.info-dropdown .menu-item:first-child
{
	margin-top:0px;
}
.info-dropdown .menu-item
{
	margin-left:0px;
	padding: 4px 8px;
	margin-bottom: 2px;
	border-bottom: solid 1px rgb(0,0,0,.2);
}

.info-dropdown .menu-item:last-child
{
	border-bottom: none;
}

.wrapper
{
	z-index: 999;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.wrapper .menu
{
    padding:10px 12px;
}

.item
{
   height: 10px;
   display:flex;
   cursor:pointer;
   font-size:12px;
   list-style: none;
   margin-bottom: 2px;
   border-radius: 5px;
   padding: 0 5px 0 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .30);
}

.content .item:hover
{
    background: #f2f2f2;
}
.content .item span
{
    font-size: 15px;
    margin-left: 4px;
}

.content .share
{
    position: relative;
    justify-content: space-between;
}

.share .share-menu
{
   top:-30px;
   opacity: 0;
   width:200px;
   right:-200px;
   padding:13px;
   position: absolute;
   pointer-events: none;
   transition: 0.2 ease;
   background-color: white;
	box-shadow: 0 5px 10px rgba(0,0,0,0.08);
}

.share:hover .share-menu
{
    opacity: 1;
    pointer-events: auto;
}

.lov,
div[name="date-picker"]
{
	margin:10px 5px;
	box-shadow: 0 5px 30px rgb(0 0 0 / 30%);
}

.weekend
{
	border-radius: 10px;
	background-color: lightgray;
}

.topbar
{
	height: 100%;
	display:flex;
	font-size:18px;
	cursor: default;

	user-select: none;
	justify-content: center;
}



.topbar .top-menu,
.topbar .link-item
{
	gap:5px;
	margin:0;
	padding:0;
	cursor: default;
	list-style: none;
	font-weight: bold;
	position: relative;
	display:inline-flex;
	align-items: center;
	background-color: transparent;
}

.topbar .top-menu a:not(.disabled)
{
	cursor: pointer;
}

.topbar .top-menu .top-menu
{
	top: 30px;
	left: 50%;
	height: 100%;
	z-index:9999;
	display: table;
	cursor: pointer;
	min-width: 100px;
	position: absolute;
	transform: translateX(-50%);
	box-shadow: 0 2px 10px #666;
	background-color: rgb(240, 240, 240);
}

.topbar .top-menu li
{
	display:flex;
	position: relative;
}

.topbar .top-menu li[type="menu"] li
{
	margin:0;
	padding:0;
	display: flex;
	font-size: 13px;
	position: relative;
	text-align: center;
	font-weight: normal;
	background-color: transparent;
}

.topbar .top-menu li[type="menu"] li[type="link"] div:after,
.topbar .top-menu li[type="menu"] li[type="menu"] li[type="link"] div:after
{
	top: 40%;
	right: 100%;
	content: '';
	display: block;
	margin-left: -5px;
	border-width: 5px;
	position: absolute;
	border-style: solid;
	border-color: transparent black transparent transparent;
}

.topbar .top-menu li[type="menu"] li[type="menu"] div:after
{
	top: 40%;
	right: -9px;
	content: '';
	display: block;
	border-width: 5px;
	position: absolute;
	border-style: solid;
	transform: translateY(-50%);
	border-color: transparent transparent transparent black;
}

.topbar .top-menu li li
{
	margin:0;
	padding:0;
	display: flex;
	font-size: 17px;
	position: relative;
	text-align: center;
	font-weight: normal;
	background-color: transparent;
}

.topbar .top-menu li li a:hover:not([disabled])
{
	background-color: #ddd;
}

.topbar .top-menu li li a
{
	width:100%;
	height:100%;
	padding: 10px 15px;
}

.topbar .top-menu li[type="menu"] li[type="link"] div,
.topbar .top-menu li[type="menu"] .top-menu li[type="link"] div
{
	top:50%;
	width:45px;
	left: 100%;
	padding: 5px;
	color:white;
	position: absolute;
	text-align: center;
	visibility: hidden;
	background-color: black;
	transform: translateY(-50%);
}

.topbar .top-menu li[type="menu"] li[type="menu"] div
{
	width:45px;
	right: 100%;
	padding: 5px;
	color:white;
	position: absolute;
	text-align: center;
	visibility: hidden;
	background-color: black;
}

.topbar .top-menu .top-menu li[type="menu"] a:after
{
	top: 13%;
	left: 80%;
	display: flex;
	font-size: 20px;
	content: "\203A";
	position: absolute;
}

.topbar .top-menu .top-menu li[type="link"] a:after
{
	content:'';
}

.topbar .top-menu li .level-2
{
	top: 0; 
	z-index:-1;
	left: 148%;
   box-shadow: 3px 3px 10px 0px #666;
}

.top-menu.level-0
{
	gap:10px;
}

.topbar .top-menu li[type="menu"] li[type="link"] a:hover ~ div,
.topbar .top-menu li[type="menu"] li[type="menu"] a:hover ~ div,
.topbar .top-menu li[type="menu"] li[type="link"] a:focus ~ div
{
	visibility: visible;
}

[disabled]
{
	color:#83868c;
}

label[for="username"],
label[for="password"]
{
	user-select: none;
	font-weight: bold;
	margin-bottom:5px;
}

input[name="password"]
{
	margin-left:0px;
	margin-bottom: 5px;
}

input[name="username"]
{
	margin-left:0px;
	margin-bottom: 10px;
}

button
{
	font-size: 12px;
	border-radius: 15px;
}

div[name="loginbutton"]
{
	gap:3px;
	display: flex;
	margin-top: 10px;
	justify-content: center;
}

div[name="login"]
{
	margin:0 20px;
}

.page-footer-pos:hover .footer-tooltiptext-top
{
	visibility: visible !important;
}

.infomation
{
	width:auto;
	height: 100%;
	display:flex;
	margin-right: 5px;
	position: relative;
	align-items: center;
}

.infomation:hover .InformationKeyMap
{
	display:table;
}

.infomation	.img
{
	width:25px;
	height: 25px;
	cursor: default;
	background-size: 25px;
	background-repeat: no-repeat;
	background-image: url(images/info.png);
}

.infomation	.InformationKeyMap
{
	top:33px;
	right:-10px;
	width:300px;
	color:black;
	display:none;
	z-index: 9999;
	margin-top:0px;
	list-style: none;
	position: absolute;
	transition: ease 0.3 all;
	background-color:white;
	box-shadow:  0 2px 10px #666;
}

.infomation	li
{
	display:grid;
	flex-wrap: nowrap;
	padding: 4px 6px;
	grid-template-columns: 150px 1fr;
	border-bottom: solid #dedede 1px;
}

.infomation	li:last-child
{
	border-bottom: none;
}