.container
{
   gap:5px;
   display:flex;
	flex-wrap: wrap;
   align-items: center;
}

.block
{
	margin:10px;
	padding: 30px;
   display: grid;
	position: relative;
   width: max-content;
   height: max-content;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}

/* fieldset */
.fieldset
{
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.fieldset legend
{
  display:flex;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  justify-content: center;
}

/*-------------*/
.indicator .failed:before
{
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 5px;
  content: "";
  height: 5px;
  display: grid;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  transform: translate(-50%,-50%);
}

.indicator
{
	position: relative;
}