
/* header canvas */

div[name="popup-header"]
{
	width: 100%;
	height: 20px;
   cursor: default;
	display: inline-grid;
	grid-auto-flow: column;
	justify-content: center;

}

.canvas-header
{
	grid-template-columns: 40px 1fr 60px;
}

.canvas-handle
{
	cursor: default;
	user-select: none;
}

div[name="title"]

{
	display: flex;
	justify-content: center;
}

span[name="title"]
{
	display:flex;
	width: max-content;
}

/* ---------------------------- */
/*canvas-header right */
div[name="canvas-header-right"]
{
	display: grid;
	height: 20px;
	position: relative;
	grid-auto-flow: column;
}

div[name="minimize"]
{
	top:0;
	width:20px;
	height: 20px;
	display:flex;
	font-size: 10px;
	position: absolute;
	justify-content: center;
}

div[name="toggle"]
{
	top: 0px;
	right: 35%;
	width:20px;
	height: 20px;
	display:flex;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	align-items: center;
	justify-content: center;
}

div[name="toggle"] img.max
{
	content: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpath id='arw' fill='black' stroke-width='0' d='M0 0v50h50 l-18-18 l18-18 l-12-12 l-18 18Z'/%3E%3C/defs%3E%3Cuse x='50' href='%23arw'/%3E%3Cuse href='%23arw' transform='rotate(180 25 50)'/%3E%3C/svg%3E");
}

div[name="toggle"] img.min
{
	content: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpath id='arw2' fill='black' stroke-width='0' d='M0 0v50h50 l-18-18 l20-20 l-14-14 l-20 20Z'/%3E%3Cpath id='arw' fill='black' stroke-width='0' d='M0 0v50h50 l-18-18 l18-18 l-12-12 l-18 18Z'/%3E%3C/defs%3E%3Cuse y='46' href='%23arw'/%3E%3Cuse href='%23arw' transform='rotate(180 50 25)'/%3E%3C/svg%3E");
}

span.calendar
{
	
	top: 5px;
	width: 18px;
	padding:4px;
	border:none;
	height: 18px;
	cursor: pointer;
	margin-left:2px;
	border-radius: 4px;
	position: relative;
	display: inline-flex;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15px' height='18px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cpath d='M160 240v32c0 8.844-7.156 16-16 16h-32c-8.844 0-16-7.156-16-16v-32c0-8.844 7.156-16 16-16h32 C152.844 224 160 231.156 160 240z M144 352h-32c-8.844 0-16 7.156-16 16v32c0 8.844 7.156 16 16 16h32c8.844 0 16-7.156 16-16v-32 C160 359.156 152.844 352 144 352z M272 224h-32c-8.844 0-16 7.156-16 16v32c0 8.844 7.156 16 16 16h32c8.844 0 16-7.156 16-16v-32 C288 231.156 280.844 224 272 224z M272 352h-32c-8.844 0-16 7.156-16 16v32c0 8.844 7.156 16 16 16h32c8.844 0 16-7.156 16-16v-32 C288 359.156 280.844 352 272 352z M400 224h-32c-8.844 0-16 7.156-16 16v32c0 8.844 7.156 16 16 16h32c8.844 0 16-7.156 16-16v-32 C416 231.156 408.844 224 400 224z M400 352h-32c-8.844 0-16 7.156-16 16v32c0 8.844 7.156 16 16 16h32c8.844 0 16-7.156 16-16v-32 C416 359.156 408.844 352 400 352z M112 96h32c8.844 0 16-7.156 16-16V16c0-8.844-7.156-16-16-16h-32c-8.844 0-16 7.156-16 16v64 C96 88.844 103.156 96 112 96z M512 128v320c0 35.344-28.656 64-64 64H64c-35.344 0-64-28.656-64-64V128c0-35.344 28.656-64 64-64 h16v16c0 17.625 14.359 32 32 32h32c17.641 0 32-14.375 32-32V64h160v16c0 17.625 14.375 32 32 32h32c17.625 0 32-14.375 32-32V64 h16C483.344 64 512 92.656 512 128z M480 192c0-17.625-14.344-32-32-32H64c-17.641 0-32 14.375-32 32v256c0 17.656 14.359 32 32 32 h384c17.656 0 32-14.344 32-32V192z M368 96h32c8.844 0 16-7.156 16-16V16c0-8.844-7.156-16-16-16h-32c-8.844 0-16 7.156-16 16v64 C352 88.844 359.156 96 368 96z'/%3E%3C/svg%3E");
}



div[name="close-button"]
{
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	display: flex;
	font-size: 20px;
	cursor: default;
	line-height: 15px;
	position: absolute;
	justify-content: center;
}	

/* ---------------------------- */
/* canvas*/

.canvas
{
	animation-fill-mode: backwards;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}

/* ---------------------------- */

