form
{
	display:block;
	margin:5px 20px 20px 20px;
}
/*-------------------*/
/* table */

table
{
	border-collapse: collapse;
}

th
{
	cursor: default;
	user-select: none;
}

th label[draggable="true"]
{
	cursor: move;
}

th label
{
	cursor: pointer;
}

th.sort:after
{
	content: "\2193";
	font-weight: bold;
}

td
{
	padding: 0 4px;
	line-height: 1.42857143;
}

.indicator
{
	width:10px;
	align-items: center;
	justify-content: center;
}

[type="row-indicator"].active
{
	width:10px;
	height: 10px;
	display: block;
	border-radius: 50px;
	background-color: gray;
}
/* ---------------------------- */
/*FieldTypes canvas */

.column,
.radio_button
{
   display:flex;
   align-items: end;
}
/* ---------------------------- */
