/*popup-body */
div[name="popup-body"]
{
	padding:10px 0;
}

div[name="popup-body"] div[name="lov"],
div[name="popup-body"] div[name="msg"],
div[name="popup-body"] div[name="login"],
div[name="popup-body"] div[name="query"],
div[name="popup-body"] div[name="date-picker"]
{
	margin:0 20px;
	border-radius: 10px;
	padding: 5px 20px 20px 20px;
}

/*------------------*/
/* login */
div[name="loginimage"]
{
	width: 40px;
	height: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 50px;
	background-size: cover;
	margin: 0 auto 10px auto;
	background-color: #36393e;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='200' xmlns='http://www.w3.org/2000/svg'%3E%3CclipPath id='myClip' clipPathUnits='objectBoundingBox'%3E%3Ccircle cx='.5' cy='0.05' r='.5'/%3E%3C/clipPath%3E%3Ccircle id='behind' style='fill:white%3B stroke-width:0' cx='50' cy='50' r='46'/%3E%3Ccircle id='head' style='fill:black%3B stroke-width:0' cx='50' cy='38' r='17'/%3E%3Ccircle id='body' style='fill:black%3B stroke-width:0' cx='50' cy='95' r='34' clip-path='url(%23myClip)'/%3E%3Ccircle id='edge' style='fill:none%3B stroke-width:6%3B stroke:white' cx='50' cy='50' r='46'/%3E%3C/svg%3E");
}

input[name="password"],
input[name="username"]
{
	margin-left:0px;
}

div[name="loginbutton"]
{
	gap:5px;
	display: flex;
	justify-content: right;
}

div[name="lowerright"]
{
	height: 100%;
	padding-top:0px;
	margin:10px 10px 5px 10px;
}

label[for="username"],
label[for="password"]
{
	user-select: none;
	font-weight: bold;
	margin-bottom:5px;
}

/*------------------*/
/* calculator  */
div[name='day'] span:focus
{
	font-weight: bold;
}

span[name^="day-"]:hover,
span[name^="day-"]:focus
{
	font-weight: bold;
	user-select: none;
}

div[name="prev"],
div[name="next"]
{
	user-select: none;
}

/*---------------*/
/* search */

.search
{
	margin: 2px 0px 5px 30px;
}

.search input
{
	margin-bottom: 10px !important;
}

.search:before
{
	content: "\002315";
	display:inline-block;
}

/*------------------------*/
/*multi-value*/

.multi-value
{
	margin-left:0px;
}

/* alert */
div[name="popup-alert"]
{
	margin:0 20px;
}

#block.fatal ~ div[name="popup-body"] div[name="popup-alert"] div[name="msg"],
#block.warning ~ div[name="popup-body"] div[name="popup-alert"] div[name="msg"]
{
	margin-left:10px;
}

#block  ~ div[name="popup-body"] div[name="alertlogo"]
{
	width: 100%;
	height: 50%;
	background-size: 30px;	
	margin-top: 0px !important;
	background-repeat: no-repeat;
}

#block.fatal  ~ div[name="popup-body"] div[name="alertlogo"]
{
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12.55a11 11 0 0 1 14.08 0'%3E%3C/path%3E%3Cpath d='M1.42 9a16 16 0 0 1 21.16 0'%3E%3C/path%3E%3Cpath d='M8.53 16.11a6 6 0 0 1 6.95 0'%3E%3C/path%3E%3Cline x1='5' y1='20' x2='20' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='20' x2='12.01' y2='20'%3E%3C/line%3E%3C/svg%3E");
}

#block.warning  ~ div[name="popup-body"] div[name="alertlogo"]
{
	background-image: url("data:image/svg+xml,%3Csvg width='123' height='98' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M65.45 1.972l55.594 87.323c1.673 2.63 3.117 8.016 0 8.016H1.837 c-3.118 0-1.676-5.386 0-8.016L57.431 1.972C59.106-0.658 63.774-0.656 65.45 1.972L65.45 1.972z M56.578 74.146h9.682v8.561 h-9.682V74.146L56.578 74.146z M66.254 68.217H56.58c-0.964-11.756-2.982-19.216-2.982-30.955c0-4.331 3.51-7.842 7.841-7.842 c4.332 0 7.842 3.511 7.842 7.842C69.282 48.996 67.236 56.471 66.254 68.217L66.254 68.217z'%3E%3Ctitle%3EWarning%3C/title%3E%3C/path%3E%3C/svg%3E");
}

#block.fatal ~ div[name="popup-body"] div[name="popup-alert"],
#block.warning ~ div[name="popup-body"] div[name="popup-alert"]
{
	display:grid;
	align-items: center;
	justify-content: end;
	grid-auto-flow: column;
	grid-template-columns: 30px 1fr;
}
/*---------------*/


